<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevComTestTaskWinFormsApp.Properties.Settings.devcomtaskdb_1ConnectionString"
            connectionString="Data Source=DESKTOP-2JIJ3JV;Initial Catalog=devcomtaskdb_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>